<fieldset
        class="text-input-fieldset"
        data-testid="node/input/{{attributes.name}}">
    <div class="form-group">
        <labe id="input-label"l>
            {{getNodeLabel .}}
            {{#if attributes.required}}
                <span class="required-indicator">*</span>{{/if}}
        </label>
        <input
                class="form-control"
                name="{{attributes.name}}"
                type="{{attributes.type}}"
                value="{{attributes.value}}"
                placeholder="{{getNodeLabel .}}"
                {{#if attributes.disabled}}disabled{{/if}}
        />
        {{#if messages}}
            <div class="typography-caption">
                {{> messages }}
            </div>
        {{/if}}
    </div>
</fieldset>
